.img-garbage{
    background-color: white;
    height: 200px;
    max-width: 70%;
    margin: 30px 0 0 250px;
    transform: translate(0px ,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.img-garbage._active{
    background-color: white;
    height: 200px;
    max-width: 70%;
    margin: 30px 0 0 250px;
    transform: translate(0px, 0px) ;
    opacity: 1;
}
.img-monster{
    background-color: white;
    height: 200px;
    max-width: 70%;
    margin: 0 auto;
    transform: translate(0px ,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.img-monster._active{
    background-color: white;
    height: 200px;
    max-width: 70%;
    margin: 0 auto;
    transform: translate(0px, 0px) ;
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}